@import "tailwindcss";

*{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

:root {
  --orange: #F36F21;
  --blue: #008EA6;
  --grey1: #d9d9d9;
  --grey2: #615d5d;
  --black: #000000;
  --cream: rgb(236, 233, 227);
  --deepgray: var(--color-gray-700)
}

@theme {
  --breakpoint-xs: 500px;
  --breakpoint-xlg: 1150px;
}